version: '3.8'

services:
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}  # Correspond au fichier .env
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_DB: ${DB_NAME}  # Correspond à la base de données dans .env
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - my_network
  
  phoenix:
    build: ./time_manager_api
    container_name: phoenix
    command: mix phx.server
    working_dir: /app
    volumes:
      - ./time_manager_ap:/app
    ports:
      - "4000:4000"
    environment:
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_HOSTNAME: ${DB_HOSTNAME}
      DB_NAME: ${DB_NAME}
      DB_POOL_SIZE: 10
    depends_on:
      - db    
    networks:
      - my_network

volumes:
  db_data:

networks:
  my_network: