

services:
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: time_manager_api_dev
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data 

  adminer:
    image: adminer
    restart: always
    ports:
      - "8081:8080"
    depends_on:
      - db

  phoenix_server:
    build:
      context: . 
      dockerfile: Dockerfile
    command: >
      sh -c "
      mix ecto.drop &&
      mix ecto.setup"
    stdin_open: true
    tty: true
    ports:
      - "4000:4000"
    depends_on:
      - db
  

  frontend:
    build:
      context: ../time_manager_frontend
      dockerfile: Dockerfile.frontend
    command: npm run dev
    ports:
      - "5173:5173"
      - "5174:5174"
    depends_on:
      - phoenix_server
    volumes:
      - ../time_manager_frontend:/app

volumes:
  db_data:
