version: '3.8'

services:
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres  # Correspond au fichier dev.exs
      POSTGRES_USER: postgres
      POSTGRES_DB: time_manager_api_dev  # Correspond à la base de données dans dev.exs
    ports:
      - "5432:5432"
 
  adminer:
    image: adminer
    restart: always
    ports:
      - "8081:8080"  # Utilise le port 8081 pour éviter les conflits avec Jenkins
    depends_on:
      - db
 
volumes:
  db_data:
