version: '3.8'

services:
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: time_manager_api_dev
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data 

  adminer:
    image: adminer
    restart: always
    ports:
      - "8081:8080"
    depends_on:
      - db

  web:
    build:
      context: . 
      dockerfile: Dockerfile
    command: >
     sh -c "
      mix ecto.create &&
      mix ecto.migrate &&
      mix phx.server"
    ports:
      - "4000:4000"
    depends_on:
      - db

volumes:
  db_data:
  