<.header>
  New Organisation
  <:subtitle>Use this form to manage organisation records in your database.</:subtitle>
</.header>

<.organisation_form changeset={@changeset} action={~p"/organisations"} />

<.back navigate={~p"/organisations"}>Back to organisations</.back>
