name: Elixir CI

on:  #déclenche les taches sur un push ou un pull_request sur la branche main
  push:
    branches:
      - main
  pull_request:
    branches:
      - main


jobs:  #chaque job est une étape indépendante du pipeline
  build:
    runs-on: windows-latest


    services: #démarre le conteneur
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: time_manager_api_dev
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps: #listes des étapes
    - name: Checkout the code
      uses: actions/checkout@v3


    - name: Set up Elixir
      uses: actions/setup-elixir@v1
      with:
        otp-version: '26.x'
        elixir-version: '1.15.x'


    - name: Install dependencies
      run: mix deps.get


    - name: Setup database
      run: |
        mix ecto.create
        mix ecto.migrate


    - name: Run tests
      env:
        MIX_ENV: test
      run: mix test
